<!-- datepicker-partial.handlebars -->
<form action="/submit" method="POST">
  <input type="text" name="{{eventName}}" id="{{id}}_text" value="{{value_text}}" />
  <input type="date" name="{{date}}" id="{{id}}" value="{{value_date}}" />
  <button type="submit">Submit</button>
</form>