<div class="events-container">
  <div class="card-header col-md-10">
    <h2>
      This Week <h3>{{this.date}}</h3>
    </h2>
  </div>
  <div>
  <form action="/users/submit" method="POST">
    <input type="text" name="eventName" />
    <input type="date" name="date" />
    <button type="submit">Submit</button>
  </form>
  </div>
  {{#each dates }}
    <div class="date col-md-5">
      <p>
        {{this.date}}
      </p>
      {{#if events.length}}
        {{#each events}}
          <p class="eventCard">
            <p>{{name}}</p>
            {{eventName}}
          </p>
        {{/each}}
      {{else}}
        <p>No events today</p>
      {{/if}}
    </div>
  {{/each}}
</div>
