<div class="events-container">
  <div class="card-header col-md-10">
    <h2>
      &#127869 This Week
    </h2>
  </div>
  <div>
    <form action="/submit" method="POST">
  <input type="text" name={{eventName}} id="{{id}}_text" value="{{value_text}}" />
  <input type="date" name="{{date}}" id="{{id}}" value="{{value_date}}" />
  <button type="submit">Submit</button>
  </form>
  </div>
  {{#each dates }}
    <div class="date col-md-5">
      <p>
        {{this.date}}
      </p>
        {{#each events}}
      <p> 
        {{eventName}} {{id}}
      </p>
        {{/each}}
    </div>
  {{/each}}
</div>
