<div class="events-container">
  <div class="card-header col-md-10">
    <h2>
      &#127869 This Week
    </h2>
  </div>
  <div>
    <form action="/submit" method="POST">
  <input type="text" name={{eventName}} id="{{id}}_text" value="{{value_text}}" />
  <input type="date" name="{{date}}" id="{{id}}" value="{{value_date}}" />
  <button type="submit">Submit</button>
  </form>
  </div>
  {{#each dates as |date|}}
    <div class="date col-md-5">
      <p>
        {{date.date}}
      </p>
      
        {{#each dates.events as |event|}}
      <p> 
        {{date.event}}
      </p>
        {{/each}}
    </div>
    <div class="col-md-7">
      <p>
        <!-- guest_name will eventually go here -->
      </p>
    </div>
    <!-- Below, we close the #each helper. -->
  {{/each}}
</div>
